#menu {
    text-align: left;
    height: 35vh;
    width: 96vw;
    border-radius: 10px;
    margin: 14vw 1vw 0 1vw;
    background-color: rgb(207, 136, 136);
}

p:first-of-type {
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 10vh;
    color: rgb(250, 242, 242);
    margin: 7vh 0 0 16vh;
}

p:nth-of-type(2) {
    position: absolute;
    font-size: 3.5vh;
    font-family: 'Mulish', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    margin: 19vh 0 0 22vh;
}

#outerDiv {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(16, auto);
    height: 32.5vh;
    width: 35.5vw;
    margin: -35.5vh 0 0 49.2vw;
    transform: skewY(3deg);
}

.innerDiv {
    background-color: rgba(245, 245, 245, 0.952);
    border-radius: 4px;
}

#etchasketch {
    position: absolute;
    z-index: 0;
    height: 52vh;
    width: 50vw;
    border: solid rgba(53, 51, 51, 0.3);
    border-radius: 10px;
    border-width: 5px 8px 8px 5px;
    box-shadow: 16px 10px 10px rgb(63, 62, 62);
    transform: skewY(3deg);
    margin: -45vh 0 0 42vw;
}

#form {
    text-align: center;
    font-size: 3vh;
    font-family: 'Lobster', cursive;
    color: rgb(56, 53, 53);
    transform: skewY(2.5deg);
    margin: -1.5vh 0 0 37vw;
}

#dimensions {
    width: 11vw;
}

#submitBtn {
    margin-right: 14vw;
    width: 12vw;
    transform: skewY(.5deg);
}

#clearBtn {
    position: absolute;
    z-index: 1;
    margin: -2.2vh 0 0 69vw;
    transform: skewY(3deg);
    width: 12vw;
}

#submitBtn, #clearBtn {
    color: rgb(34, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-color: white;
    font-size: 2vh;
}